*{
  margin: 0;
  padding: 0;
}

#game-board {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background-color: #f4f4f4 */
}

canvas{
  border: 5px solid black;
}

body {
background-color: black;
}